@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html, body{
  background-color: #282c34;
  font-family: 'Roboto', sans-serif;
  overflow-x: auto;
}
.App {
  text-align: center;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

a {
  color: #61dafb;
}

h1, h2, h3, h4, h5, p {
  color: white;
}

.SearchMissions {
  color: white
}

.List {
  position: relative;
  display: flex;
}

.Search {
  position: relative;
  display: flex;
}